<h1>Pirate</h1>
<p>
Name: <%= @pirate.name %> <br>
Height: <%= @pirate.height %><br>
Weight: <%= @pirate.weight %><br>
</p>

<h2>Ship 1</h2>
<% @ships.each do |ship| %>
    Name: <%= ship.name %><br>
    Type: <%= ship.type%><br>
    Booty: <%= ship.booty%>
<% end %>
